.hello {
	color: var(--ion-color-dark);
}
.greeting {
	color: var(--ion-color-tertiary-shade);
}

.dashboard .logout-button {
	margin-top: 40px;
}
@media screen and ( min-width: 768px ) {
.hello-message {
	padding: 10px;
}
}

